<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="{% url 'home' %}">
            🛒 Tienda Libre
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalogo' %}">
                        Catalago de productos
                    </a>
                </li>
        <li class="nav-item">
            <a href="{% url 'acerca_de_mi' %}" class="btn btn-primary">Acerca de mí</a>
                Acerca de mí
            </a>
        </li>

            </ul>

        </div>
    </div>
</nav>