
body {
    background: linear-gradient(135deg, #667eea, #764ba2) ;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: white ;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 30px;
}

h1 + p {
    text-align: center;
    color: white;
    font-size: 18px;
}

h2 {
    text-align: center;
    color: white ;
    font-size: 32px;
    margin-bottom: 30px ;
}

.card {
    background: #001746;
    color: white ;
    border: 3px solid #00ffcc ;
    border-radius: 25px ;
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.5) ;
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.05) rotate(1deg);
    box-shadow: 0 0 35px rgba(0, 255, 204, 0.9);
}

.card-title {
    color: #00ffcc ;
    font-size: 23px;
    text-transform: uppercase;
}

.card-subtitle {
    color: #ffcc00 ;
}


.card-text {
    color: #dddddd ;
}

.fw-bold {
    color: #ff4d6d ;
    font-size: 25px ;
}


.badge.bg-secondary {
    background-color: #fbfbfb;
    font-size: 13px;
}
.badge.bg-success {
    background-color: #007bff ;
}

.badge.bg-danger {
    background-color: #ff1744;
}
.alert-success {
    background-color: #00f038 ;
    color: #111827 ;
    border: none ;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px ;
}
.container {
    padding-bottom: 50px;
}